# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Src/Playground/Debug/Playground.exe
*.ilk
*.pdb
Src/Playground/Playground.opensdf
*.sdf
Src/Playground/Playground.v11.suo
*.tlog
Src/Playground/Playground/Debug/main.obj
*.lastbuildstate
Src/Playground/Playground/Debug/Playground.log
*.idb
*.exe
Src/Playground/Playground/Release/main.obj
*.log
*.obj
